* {
  box-sizing: content-box;
}

html,
body {
  background-color: #fff;
  font-family: Glacial-Indifference !important;
  color: #1D1D1B !important;
  height: 100%;
}

p {
  margin-bottom: 0 !important;
}

.moonrising-font {
  font-family: Moonrising !important;
}

.glacial-font {
  font-family: Glacial-Indifference !important;
}

img {
  max-width: 100%;
}

.bg-gray {
  background-color: #EDECED !important;
}

.bg-blue {
  background-color: #1F1A3B !important;
}

.bg-skyBlue2 {
  background-color: #A1D8F2 !important;
}

.text-blue {
  color: #1F1A3B !important;
}

.text-skyBlue2 {
  color: #A1D8F2 !important;
}

.text-aqua {
  color: #30B8C7 !important;
}

.text-dark-gray {
  color: #7D7979 !important;
}

.headline,
.sedes .card-title {
  font-family: Moonrising !important;
}

.date {
  display: flex;
  align-items: center;
  margin-bottom: 0.875rem;
}
.date img {
  width: 24px !important;
  height: 24px !important;
  margin-right: 0.275rem;
  margin-bottom: 0 !important;
  object-fit: initial !important;
  object-position: initial !important;
}

.caption {
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .text-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.m-6 {
  margin: 3.5rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}

.mb-6 {
  margin-bottom: 3.5rem !important;
}

.mx-6 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.my-6 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.m-7 {
  margin: 4rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.mb-7 {
  margin-bottom: 4rem !important;
}

.mx-7 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.m-8 {
  margin: 4.5rem !important;
}

.mt-8 {
  margin-top: 4.5rem !important;
}

.mb-8 {
  margin-bottom: 4.5rem !important;
}

.mx-8 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.my-8 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.p-6 {
  padding: 3.5rem !important;
}

.pt-6 {
  padding-top: 3.5rem !important;
}

.pb-6 {
  padding-bottom: 3.5rem !important;
}

.px-6 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.py-6 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.p-7 {
  padding: 4rem !important;
}

.pt-7 {
  padding-top: 4rem !important;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.px-7 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.p-8 {
  padding: 4.5rem !important;
}

.pt-8 {
  padding-top: 4.5rem !important;
}

.pb-8 {
  padding-bottom: 4.5rem !important;
}

.px-8 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.py-8 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.p-9 {
  padding: 5rem !important;
}

.pt-9 {
  padding-top: 5rem !important;
}

.pb-9 {
  padding-bottom: 5rem !important;
}

.px-9 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.py-9 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.cta {
  display: block;
  border: 0 !important;
  padding: 0.5rem 1rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Moonrising;
  font-size: 0.75rem;
  line-height: 1.35rem;
  font-weight: bold;
  cursor: pointer !important;
  text-decoration: none;
  background-color: #1F1A3B;
  color: #A1D8F2;
}

.ebook-btn {
  background: #A1D8F2;
  color: #1F1A3B;
}
.ebook-btn img {
  width: 16px !important;
  height: auto !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0.4rem;
}

.cta-group .cta {
  width: 170px;
  height: 48px;
  font-family: Glacial-Indifference;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 100;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .cta-group .cta {
    width: 100%;
  }
}
.pagination {
  margin-top: 6rem;
}
.pagination .page-item .page-link {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0 !important;
  font-weight: bold;
  color: #1F1A3B;
}
.pagination .page-item .page-link.active {
  background-color: transparent;
  color: #A1D8F2;
}

@media screen and (max-width: 480px) {
  .pagination .page-item .page-link {
    font-size: 1.2rem;
  }
}
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}
.carousel-slide img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.thumbnails img {
  width: 33.33%;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.7;
}
.thumbnails img:hover {
  opacity: 1;
}

.filter-title {
  font-size: 1.625rem;
}

.filter-buttons {
  text-align: center;
  margin: 20px;
}
.filter-buttons .filter-button {
  background-color: transparent;
  border: 0;
  font-size: 1.625rem;
  text-transform: uppercase;
  padding: 0 20px;
  margin-left: -6px;
  cursor: pointer;
  color: #1D1D1B;
  border-right: 1px solid #1D1D1B;
}
.filter-buttons .filter-button:first-child {
  padding-left: 0;
}
.filter-buttons .filter-button:last-child {
  border-right: none;
}
.filter-buttons .filter-button:hover, .filter-buttons .filter-button.active {
  text-decoration: underline;
}

.portfolio {
  transition: opacity 0.5s ease-in-out;
}
.portfolio .item {
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.portfolio .item img {
  transition: transform 0.3s ease-in-out;
}
.portfolio .item.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -9999px;
}

@media screen and (max-width: 992px) {
  .filter-title, .filter-buttons .filter-button {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .filter-title, .filter-buttons .filter-button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .filter-title, .filter-buttons .filter-button {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .filter-title, .filter-buttons .filter-button {
    font-size: 0.9rem;
  }
}
.two-columns-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.two-columns-wrapper > div {
  flex: 1;
}

.three-column-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.three-column-grid .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 30.33%;
  background-color: transparent;
  border: 1px solid #A1D8F2;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 2rem;
}
.three-column-grid .item img {
  width: 280px;
  height: 300px;
  object-fit: contain;
  object-position: top center;
  margin-bottom: 1rem;
}
.three-column-grid .item .caption {
  font-size: 1.125rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
.three-column-grid .item .category {
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .three-column-grid .item {
    flex: 0 0 47.7%;
  }
}
@media screen and (max-width: 767px) {
  .two-columns-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .two-columns-wrapper > div {
    flex: auto;
  }
  .three-column-grid .item {
    flex: 0 0 100%;
  }
}
form.search input {
  margin-right: 0.785rem;
}
form.search button[type=submit] {
  width: 45px;
  height: 40px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
form button[type=submit] {
  border: 0 !important;
}
form button[type=submit] img {
  width: 20px;
  height: 20px;
}
form input[type=text],
form input[type=submit] {
  border: 0 !important;
  border-top-left-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}
form input[type=text] {
  background-color: #EDECED;
  padding: 0.5rem 1.75rem;
}

@media screen and (max-width: 767px) {
  form.search input {
    width: 80% !important;
  }
}
@media screen and (max-width: 480px) {
  form.search input {
    margin-right: 0.4rem;
  }
  form.search input::-ms-input-placeholder {
    font-size: 0.875rem !important;
  }
  form.search input::placeholder {
    font-size: 0.875rem !important;
  }
}
header {
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: Moonrising;
}
header .info-ieproes ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  font-family: Glacial-Indifference;
}
header .info-ieproes ul li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 0.625rem;
}
header .info-ieproes ul li:last-child {
  padding-right: 0;
  border-right: none;
}
header .info-ieproes ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
header .info-ieproes ul li a img {
  width: 26px;
}
header .info-ieproes .redes-sociales {
  text-align: end;
}
header .info-ieproes .redes-sociales li {
  border: 0;
  padding: 0;
}
header nav.navbar .navbar-brand img {
  width: 110px;
}
header nav.navbar .navbar-nav .nav-item .nav-link {
  font-size: 0.875rem;
  text-wrap: wrap;
  width: 120px;
  text-align: center;
  line-height: 1rem;
  padding: 0;
}
header nav.navbar .navbar-nav .nav-item .dropdown {
  width: 110px;
  display: flex;
  align-items: flex-end;
}
header .dropdown-toggle::after {
  display: none !important;
}

@media screen and (max-width: 992px) {
  header {
    position: relative;
  }
}
main {
  padding-top: 12rem;
  padding-bottom: 8.125rem;
}

@media screen and (max-width: 992px) {
  main {
    padding-top: 0;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
footer a {
  color: #fff !important;
}
footer .sedes {
  margin-bottom: 8.125rem;
}
footer .rights {
  background-color: #1F1A3B;
  color: #fff;
  width: 100%;
  height: 185px;
  display: flex;
  align-items: center;
  text-align: center;
}
footer .rights p {
  font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
  footer .rights {
    height: 120px;
  }
  footer .rights p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 767px) {
  footer .rights p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  footer .rights p {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  footer .rights p {
    font-size: 0.75rem;
  }
}
.card-content {
  gap: 80px;
}
.card-content .card {
  background-color: #1F1A3B !important;
  color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  border-top-right-radius: 6.25rem !important;
  border-bottom-left-radius: 6.25rem !important;
  padding: 1.5rem 1.8rem;
  width: 494px;
  min-height: 360px;
}
.card-content .card .card-body {
  padding: 0;
}
.card-content .card .card-body .card-title {
  text-transform: uppercase !important;
  font-size: 1.3rem !important;
}
.card-content .card .card-body a {
  text-decoration: none;
}
.card-content .card .card-body p {
  font-size: 1rem;
  line-height: 1.4rem;
}
.card-content .card .card-body img {
  width: 36px;
}

@media screen and (max-width: 1200px) {
  .card-content {
    gap: 40px;
  }
  .card-content .card {
    padding: 1rem;
    min-height: 320px;
  }
  .card-content .card .card-body {
    font-size: 0.875rem;
  }
  .card-content .card .card-body .card-title {
    font-size: 1.2rem !important;
  }
  .card-content .card .card-body p {
    font-size: 0.875rem;
    line-height: 1.2rem;
    min-height: 60px;
  }
  .card-content .card .card-body img {
    width: 28px;
  }
}
@media screen and (max-width: 992px) {
  .card-content {
    gap: 20px;
  }
  .card-content .card {
    border-top-right-radius: 4.25rem !important;
    border-bottom-left-radius: 4.25rem !important;
    min-height: 300px;
  }
  .card-content .card .card-body {
    font-size: 0.75rem;
  }
  .card-content .card .card-body .card-title {
    font-size: 0.875rem !important;
  }
  .card-content .card .card-body p {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 48px;
  }
}
@media screen and (max-width: 767px) {
  .card-content .card {
    width: 100%;
    height: auto;
    padding: 2rem 5.8rem;
  }
  .card-content .card .card-body {
    font-size: 0.875rem;
  }
  .card-content .card .card-body .card-title {
    font-size: 1rem !important;
  }
  .card-content .card .card-body p {
    font-size: 0.875rem;
    line-height: 1rem;
    min-height: auto;
  }
  .card-content .card .card-body img {
    width: 36px;
  }
}
@media screen and (max-width: 480px) {
  .card-content .card {
    padding: 2rem;
  }
  .card-content .card .card-body {
    font-size: 0.875rem;
  }
  .card-content .card .card-body .card-title {
    font-size: 1rem !important;
  }
  .card-content .card .card-body p {
    font-size: 0.875rem;
    line-height: 1rem;
    min-height: auto;
  }
  .card-content .card .card-body img {
    width: 36px;
  }
}
@font-face {
  font-family: Moonrising;
  src: url(../fonts/moonrising/Moonrising.otf);
  font-style: normal;
}
@font-face {
  font-family: Moonrising;
  src: url(../fonts/moonrising/Moonrising.ttf);
  font-style: normal;
}
@font-face {
  font-family: Moonrising;
  src: url(../fonts/moonrising/Moonrising-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: Moonrising;
  src: url(../fonts/moonrising/Moonrising-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Glacial-Indifference;
  src: url(../fonts/glacial-indifference/GlacialIndifference-Regular.otf);
  font-weight: 100;
}
@font-face {
  font-family: Glacial-Indifference;
  src: url(../fonts/glacial-indifference/GlacialIndifference-Bold.otf);
  font-weight: 700;
}
.home-page main {
  padding-top: 0;
}
.home-page #destacado {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: calc(100% - 0px);
}
.home-page #conoce-ieproes .content .text-content {
  width: 500px;
}
.home-page #conoce-ieproes .content .text-content h2 {
  font-size: 4rem;
  line-height: 3.6rem;
}
.home-page #conoce-ieproes .content .text-content h2 span {
  font-size: 3rem;
}
.home-page #conoce-ieproes .content .text-content p {
  font-size: 1.8rem;
  line-height: 2rem;
}
.home-page #conoce-ieproes .content .text-content a {
  color: #6AC3EF;
  font-size: 2rem;
}
.home-page #conoce-ieproes .content > div {
  flex: 1;
}
.home-page #conoce-ieproes .content img {
  border-bottom-left-radius: 80px;
}
.home-page #oferta-academica {
  padding: 6rem 0;
}
.home-page #oferta-academica .info {
  gap: 40px;
}
.home-page #oferta-academica .info h2 {
  font-size: 3rem;
}
.home-page #oferta-academica .info img {
  border-radius: 4rem;
  height: 320px;
  object-fit: cover;
}
.home-page #post {
  padding-top: 5rem;
}
.home-page #post h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.home-page #post .post-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.home-page #post .post-wrapper figure {
  flex: 0 0 48.2%;
  background-color: #EDECED;
  color: #1D1D1B;
  padding: 2rem 3rem;
  margin-bottom: 0;
}
.home-page #post .post-wrapper figure .headline {
  font-family: Moonrising !important;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
}
.home-page #post .post-wrapper figure a {
  text-decoration: none;
  color: #1D1D1B;
}
.home-page #post .post-wrapper figure img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.home-page #post .post-wrapper figure p {
  line-height: 1.125rem;
}
.home-page #post .post-wrapper figure:nth-child(1), .home-page #post .post-wrapper figure:nth-child(4) {
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.home-page #post .post-wrapper figure:nth-child(2), .home-page #post .post-wrapper figure:nth-child(3) {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

@media screen and (max-width: 992px) {
  .home-page #destacado {
    background-size: 100%;
    min-height: 470px;
    margin-bottom: 2.5rem;
  }
  .home-page #conoce-ieproes .content {
    gap: 40px;
  }
  .home-page #conoce-ieproes .content .text-content {
    width: 500px;
  }
  .home-page #conoce-ieproes .content .text-content h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .home-page #conoce-ieproes .content .text-content h2 span {
    font-size: 2rem;
  }
  .home-page #conoce-ieproes .content .text-content p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .home-page #conoce-ieproes .content .text-content a {
    font-size: 1.4rem;
  }
  .home-page #conoce-ieproes .content img {
    border-bottom-left-radius: 0;
  }
  .home-page #oferta-academica .info h2 {
    font-size: 2rem;
  }
  .home-page #oferta-academica .info img {
    border-radius: 2rem;
    height: 200px;
  }
  .home-page #post h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .home-page #post .post-wrapper {
    gap: 1rem;
  }
  .home-page #post .post-wrapper figure {
    padding: 2rem;
  }
  .home-page #post .post-wrapper figure img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 767px) {
  .home-page #destacado {
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }
  .home-page #conoce-ieproes .content img {
    border-bottom-left-radius: 0;
  }
  .home-page #oferta-academica .info img {
    border-radius: 4rem;
    width: 100%;
    height: 100%;
  }
  .home-page #post h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .home-page #post .post-wrapper {
    gap: 1rem;
  }
  .home-page #post .post-wrapper figure {
    flex: 0 0 100%;
  }
  .home-page #post .post-wrapper figure img {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 480px) {
  .home-page #destacado {
    min-height: 270px;
  }
  .home-page #oferta-academica .info img {
    border-radius: 3rem;
  }
}
.proyectos-page .three-column-grid .item {
  background-color: #EDECED;
  border: 0 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5rem;
}

.repositorio-institucional-post-page .descripcion img {
  max-width: 347px;
}
.repositorio-institucional-post-page .descripcion .meta {
  width: 15%;
}
.repositorio-institucional-post-page .descripcion .data {
  width: 85%;
}

@media screen and (max-width: 767px) {
  .repositorio-institucional-post-page .descripcion img {
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .repositorio-institucional-post-page .descripcion .meta,
  .repositorio-institucional-post-page .descripcion .data {
    width: 100%;
  }
}
.oferta-academica-page .info-container {
  flex-direction: row;
}
.oferta-academica-page .info-container > div {
  flex: 1;
}
.oferta-academica-page .info-container p {
  text-align: justify;
}
.oferta-academica-page .info-container ul li::marker, .oferta-academica-page .info-container ol li::marker {
  color: #30B8C7;
}

@media screen and (max-width: 992px) {
  .oferta-academica-page .info-container {
    flex-direction: column;
  }
  .oferta-academica-page .info-container > div {
    flex: auto;
  }
}